<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-wifi-ssid" version="0.0.1">
  <name>WiFi Info Integration</name>
  <description> Get WiFi Info </description>
  <repo>git@github.com:snap40/ui-cordova-wifi-ssid.git</repo>
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <js-module src="www/WiFiSSID.js" name="WiFiSSID">
    <clobbers target="cordova.plugins.WiFiSSID" />
  </js-module>
  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="WiFiSSID">
        <param name="ios-package" value="WiFiSSID" />
      </feature>
    </config-file>
    <header-file src="src/ios/WiFiSSID.h" />
    <source-file src="src/ios/WiFiSSID.m" />
    <framework src="SystemConfiguration.framework" />
    <framework src="CFNetwork.framework" />
  </platform>
</plugin>
